<div>
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <p>

      <mat-form-field>
        <mat-label for="login">Login</mat-label>
        <input matInput id="login" type="text"
            formControlName="login">
      </mat-form-field>

      <crm-help [field]="loginForm.get('login')!"
                [errorMessages]="loginErrors"></crm-help>

    </p>
    <p>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput id="password" type="password"
            formControlName="password">
      </mat-form-field>
    </p>
    <p>
      <button mat-button color="primary" type="submit"
              [disabled]="loginForm.invalid">Login</button>
    </p>

  </form>
</div>


