
<div>
  <form [formGroup]="consumerForm"
        (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label for="civility">Civility</mat-label>
        <mat-select formControlName="civility">
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mme">Mme</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="firstname">Firstname</mat-label>
        <input matInput id="firstname" type="text"
            formControlName="firstname">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="lastname">Lastname</mat-label>
        <input matInput id="lastname" type="text"
            formControlName="lastname">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="phone">phone</mat-label>
        <input matInput id="phone" type="text"
            formControlName="phone">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="email">email</mat-label>
        <input matInput id="email" type="text"
            formControlName="email">
      </mat-form-field>
    </p>
    <p>
      <button mat-button color="primary" type="submit"
              [disabled]="consumerForm.invalid">Validate</button>
    </p>

  </form>
</div>
